:root {
  --primary-text-color: #3e3e3e;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

p {
  line-height: 1.6;
  color: var(--primary-text-color);
}

section {
  padding: 5rem 0;
}

/* Custom Utility Classes */
.primary-color {
  color: #2a8ee6;
}
.secondary-color {
  color: #fbad4a;
}
.tertiary-color {
  color: var(--primary-text-color);
}

.primary-title {
  font-family: bebas neue, sans-serif;
}
.secondary-title {
  font-family: Comfortaa;
  letter-spacing: -1px;
}

/*  Button Style Starts */
.button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.button::before {
  background: url(../images/shopping-cart\ 1.png);
  content: " ";
  display: inline-block;
  width: 2rem;
  background-repeat: no-repeat;
  height: 2rem;
  background-size: cover;
  margin-right: 0.2em;
}
.button--blue {
  background-color: #2a8ee6;
  color: #fff;
}
.button--blue:focus,
.button--blue:hover {
  color: #fff;
}
.button--blue:focus {
  box-shadow: 0 0 0 0.25rem #0287fc65;
}
/*  Button Style Ends */




/* Header Style Starts */
.header {
  min-height: 90vh;
  background: #fffff4;
  position: relative;
}

.header::before {
  content: "";
  display: inline-block;
  background: url(../images/dot-dot.png);
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  position: absolute;
}
/* Header Style Ends */

/* Navbar Style Starts */
.navbar-brand img {
  width: 4rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: Comfortaa;
  font-size: 1.1rem;
  padding: 0.8em 1em;
  display: inline-block;
  color: var(--primary-text-color);
}
/* Navbar Style Ends */

/* Hero Section Style Starts */
.hero-section {
  min-height: 80vh;
}
.hero-section p,
.section-service__item p {
  font-weight: 500;
}
/* Hero Section Style Ends */

/* Service section style starts */
.section-service__item img {
  width: 15%;
}
.section-service__item h5 {
  color: #363958;
}
/* service section style ends */

/* bags section style starts */
.section-bags__card {
  border-radius: 1em;
  height: 100%;
}
.section-bags__card img {
  background: #f1f1f1;
  border-radius: 1em;
}
/* bags section style ends */


.section-contact p{
  font-size: 1.50rem ;
}


.section-contact button.button::before {
  background-image: url(../images/paper-plane-regular.svg);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5em;
  
}

.form-control {
  border:none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ced4da;
  padding: 0;
  font-size: 1.4rem;
}
textarea.form-control{
  resize: none !important;

}
.form-control:focus {
  outline: none;
  box-shadow: none;
}


/* Footer */
footer{
  height: 4rem;
}
footer p {
  font-family: Comfortaa;
}


/* Responsive CSS */
@media (min-width:768px) and (max-width:991px) {
  html {
    font-size: 13.5px;
  }
}